*.ipynb
/BenMalData/label/
/BenMalData/data/
/BenMalData/validation/
/BenMalData/screenlist/nonPhthisis/
/BenMalData/screenlist/phthisis/
/BenMalData/screenlist/task1/
/BenMalData/screenlist/task2/
/BenMalData/screenlist/task3/
/BenMalData/screenlist/task4/
/DeepBenMal/saved_models/
/DeepBenMal/results/
/DeepBenMal/runs/
/DeepBenMal/pretrained_model
*.pkl
/DeepBenMal/valid_5
*.jpg
/BenMalData/phthisis/
/BenMalData/chronicTissueInflam/
/BenMalData/hamartoma/
/BenMalData/infectious/
/BenMalData/inflammatory_pseudo
__pycache__/*
/DeepBenMal/__pycache__/
/DeepBenMal/models/__pycache__/

